.label-warpper {
    color: #333;
    width: 350px;
}

.header {
    font-size: 16px;
    font-weight: 500;
}

.header:hover {
    color: cornflowerblue;
}

.setting-icon {
    float: right;
    margin-right: 40px;
}

.select-list {
    width: 240px;
    height: 200px;
    margin-right: 20px;
}

.option {
    font-weight: 500;
}

.label-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.target-config {
    display: flex;
    max-width: 300px;
    margin-bottom: 5px;
    color: #fff;
    font-weight: 500;
    height: 30px;
    align-items: center;
}